/* Universal */

body {
  font-family: Arial, sans-serif;
  background-color: black;
}

/* Navigation */

header {
  z-index: 2;
  position: fixed;
  width: 100%;
  background-color: darkslateblue;
}

nav {
  margin: 0;
  padding: 20px 0;
}

nav li {
  width: 80px;
  display: inline-block;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
}

nav li a {
  text-decoration: none;
  color: darkgray;
}

/* Headings */

h1 {
  text-align: center;
  color: gray;
}

h2 {
  text-align: center;
  color: gray;
  padding-top: 2em;
}

/* Tables */

table {
  border: 2px solid darkgray;
  width: 1000px;
  margin: 0 auto;
}

thead {
  background-color: darkslateblue;
  color: darkgray;
  margin: 0 auto;
  height: 2em;
}

td {
  border-bottom: 1px solid darkslateblue;
  text-align: center;
  color: gray;
  height: 2em;
}

.css-sample-table {
  margin-bottom: 5em;
}